.app-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  color: #fff;
  font-family: Arial, sans-serif;
}

body {
  background: #111;
}

.title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 2rem;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
}

.nav a {
  color: #ffa73c;
  text-decoration: none;
  font-weight: bold;
}

.nav a.active {
  text-decoration: underline;
}
