.card {
  background: #0f172a;
  border: 1px solid #1e293b;
  padding: 1.2rem;
  border-radius: 12px;
  width: 220px;
  text-align: center;
  color: #e2e8f0;
}

.type {
  font-size: 0.8rem;
  opacity: 0.7;
}

.on {
  color: #22c55e;
  font-weight: bold;
}
.off {
  color: #ef4444;
  font-weight: bold;
}

.icon {
  font-size: 40px;
  margin-top: 10px;
}
